.btn {
  display: inline-block;
  border: 1px solid $primary-color;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  padding: 15px 25px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  color: $text-color;
  font-weight: bold;
  transition: background-color .3s;

  &:hover {
    background-color: #fc969633;
  }

  &--filled {
    @extend .btn;
    border: 0;
    background-color: $primary-color;

    &:hover {
      background-color: darken($primary-color, 15%);
    }
  }

  &--small {
    @extend .btn;
    font-size: 0.7em;
    padding: 8px 12px;
  }
}